.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.container{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;

    
}

.benfitwrapper{
    color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    height: auto;
    max-width: 20rem;
    padding: 1rem;
    border: 7px solid #F1E1F4;
    border-radius: 10px;
    box-shadow: #F1E1F4 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   
}

.name{
    font-weight: bold;
    font-size: 1.5rem;
}
.btn{
    margin: 0;
    width: 8rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid #BA68C8;
    border-radius: 10px;

}
.btn:hover{
    
    background-color: #BA68C8;
    color: #ffffff;
    cursor: pointer;

}
